version: '3'
services:
  rails:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: rails
    command: bundle exec puma -C config/puma.rb -e production
    volumes:
      - .:/review_app
      - public-data:/review_app/public
      - tmp-data:/review_app/tmp
      - log-data:/review_app/log
      - /review_app/node_modules
    env_file:
      - .env
    depends_on:
      - db
    user: root

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: root
    ports:
      - "3306:3306"
    volumes:
      - ./tmp/db:/var/lib/mysql

  web:
    build:
      context: containers/nginx
    volumes:
      - public-data:/review_app/public
      - tmp-data:/review_app/tmp
    ports:
      - 80:80
    depends_on:
      - rails

volumes:
  db:
    driver: local
  public-data:
  tmp-data:
  log-data: