version: 2
jobs:
  build:
    machine:
      image: ubuntu-2204:2022.07.1
    steps:
      - checkout
      - run:
          name: docker-compose build
          command: docker-compose build
      - run:
          name: docker-compose up
          command: docker-compose up -d
      - run:
          name: sleep for waiting launch db
          command: sleep 1
      - run:
          name: "before_test: setup db"
          command: docker-compose run web rails db:create db:migrate
      - run:
          name: yarn install
          command: docker-compose run web yarn install
      - run:
          name: webpacker install
          command: docker-compose run web bundle exec bin/webpack
      - run:
          name: test(rspec)
          command: docker-compose run --rm web rspec
      - run:
          name: test(rubocop)
          command: docker-compose run --rm web rubocop
      - run:
          name: docker-compose down
          command: docker-compose down
  deploy:
    machine:
      image: ubuntu-2204:2022.07.1
    steps:
      - checkout
      - run:
          name: "heroku login"
          command: docker login -username=_ -p "$HEROKU_API_KEY" registry.heroku.com
      - run:
          name: "build docker image"
          command: docker build --tag registry.heroku.com/$HEROKU_APP_NAME/web .
      - run:
          name: "push container to registry.heroku.com"
          command: docker push registry.heroku.com/$HEROKU_APP_NAME/web
      - run:
          name: "heroku db migrate"
          command: heroku run --app $HEROKU_APP_NAME rails db:migrate
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master