<% provide(:title, "フォロワー") %>

  <h1 class="text-center">フォロワー</h1>
  <div class="row">
    <%= render 'layouts/current_user_info' %>
    <div class="col-md-6 col-md-offset-3 mx-auto">
      <%= render 'users/list' %>
    </div>
    <div class="col-md-3">
    </div>
  </div>

