<% provide(:title, "いいね！") %>

  <h3 class="text-center">いいね！</h3>
  <div class="row">
    <%= render 'layouts/current_user_info' %>
    <div class="col-md-6 col-md-offset-3 mx-auto">
      <%= render 'likes/list' %>
    </div>
    <div class="col-md-3">
      <%= render 'layouts/certificate_ranking' %>
      <%= render 'layouts/follower_ranking' %>
    </div>
  </div>

