<% if current_user == @user %>
  <% provide(:title, 'マイページ') %>
<% else %>
  <% provide(:title, @user.name) %>
<% end %>

<div class="row">
  <%= render 'layouts/current_user_info' %>
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <%= render 'users/profile' %>

    <% if @user.posts.any? %>
      <%= render 'posts/list' %>
    <% end %>

  </div>
  <div class="col-md-3">
  </div>
</div>