@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.8;
  letter-spacing: .1em;
  color: #546E7A;
  background-color: rgb(247,250,255);
}

a { 
  text-decoration: none;
  color: inherit;
}

h1{
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-brand {
  color: #546E7A;
  line-height: 1.8;
  letter-spacing: .1em;
}

// Signup-form
#signup-form .form-control {
  margin-bottom: 10px;
}
#signup-form #password_confirmation {
  margin-bottom: 40px;
}

.field_with_errors {
  display: contents;
  input, textarea {
    @extend .is-invalid;
  }
}

// Login-form
#login-form .form-control {
  margin-bottom: 10px;
}
#login-form #password {
  margin-bottom: 40px;
}

// .user_info
.user_info {
  // margin-top: 25px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
  border-width: 0;
}

.card-header {
  background-color: white;
}

.card-link {
  font-size: 10px;
}

.bookmark-link {
  margin-bottom: 0;
}

.like-link {
  margin-bottom: 0;
}

// profile-edit-form
#profile-edit-form .form-control {
  margin-bottom: 10px;
}

// post-create-form
#post-form .form-control {
  margin-bottom: 10px;
}

#profile-name{
  display: inline;
}

#user-edit-btn{
  margin-left: 15rem;
}

#follow-btn{
  margin-left: 12rem;
}

.post-subtitle{
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.post-text{
  margin-bottom: 40px;
}

.bookmark-or-like {
  margin-left: 100px;
}