<% provide(:title, "検索結果") %>

  <h1 class="text-center">'<%= params[:word] %>' の検索結果</h1>
  <div class="row">
  <%= render 'layouts/current_user_info' %>
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-post-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-post"
          type="button"
          role="tab"
          aria-controls="nav-post"
          aria-selected="true"
        >
          記事
        </button>
        <button
          class="nav-link"
          id="nav-user-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-user"
          type="button"
          role="tab"
          aria-controls="nav-user"
          aria-selected="false"
        >
          ユーザー
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-post"
        role="tabpanel"
        aria-labelledby="nav-post-tab"
      >
        <%= render 'posts/list' %>
      </div>
      <div
        class="tab-pane fade"
        id="nav-user"
        role="tabpanel"
        aria-labelledby="nav-user-tab"
      >
       <%= render 'users/list' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
  </div>

