<% provide(:title, "ホーム") %>

<% if logged_in? %>
  <aside class="col-md-2">
    <section class="user_info">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=link_to current_user.name, user_path(current_user) %></h5>
          <%= link_to "@user1accountid", "#", class: "card-link" %>
          <p class="card-text">25歳のシステムエンジニアです。</p>
          <%= link_to "〇〇 フォロー", "#", class: "card-link" %>
          <%= link_to "〇〇 フォロワー", "#", class: "card-link" %>
        </div>
      </div>
    </section>
  </aside>
<% end %>