@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.8;
  letter-spacing: .1em;
  // color: #546E7A;
  color: rgba(0,0,0,0.87);
  background-color: rgb(247,250,255);
  // background: linear-gradient(135deg, #BDC4EF, #F7FAFF)
}

a { 
  text-decoration: none;
  color: inherit;
}

h1{
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-brand {
  // color: #546E7A !important;
  color: rgba(0,0,0,0.87);
  line-height: 1.8;
  letter-spacing: .1em;
}

.nav-link {
  color: rgba(0,0,0,0.87);
}

.btn-primary {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
  border-radius: 0.5rem;
}

.button-to-create-user{
  color: #0d6efd;
  text-decoration: underline #0d6efd;
}

.search-box {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
  border-radius: 0.5rem;
}

// Signup-form
#signup-form .form-control {
  margin-bottom: 10px;
}
#signup-form #password_confirmation {
  margin-bottom: 40px;
}

.field_with_errors {
  display: contents;
  input, textarea {
    @extend .is-invalid;
  }
}

// Login-form
#login-form .form-control {
  margin-bottom: 10px;
}
#login-form #password {
  margin-bottom: 40px;
}

// .user_info
.user_info {
  // margin-top: 25px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
  border-width: 0;
}

.card-header {
  background-color: white;
}

.card-text {
  margin-bottom: 0.2rem;
}

.card-link {
  font-size: 10px;
}

.user-profile {
  margin-top: 1rem;
}

.bookmark-link {
  margin-bottom: 0;
}

.like-link {
  margin-bottom: 0;
}

// profile-edit-form
#profile-edit-form .form-control {
  margin-bottom: 10px;
}

// post-create-form
#post-form .form-control {
  margin-bottom: 10px;
}

#profile-name{
  display: inline;
}

.btn {
  color: #fff;
  background-color: #9884EF;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
}

.btn:hover{
  color: #fff;
  opacity: 0.6;
}

#search-btn {
  background-color: #9884EF;
  border: none;
}

#user-edit-btn{
  float: right;
  margin-right: 1rem;
  background-color: #9884EF;
  border: none;
}

#follow-btn{
  float: right;
  margin-right: 1rem;
  background-color: #9884EF;
  border: none;
}

.post-subtitle{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.post-text{
  margin-bottom: 40px;
}

.bookmark-or-like {
  margin-left: 100px;
}

.pagination {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.13);
  border-radius: 0.5rem;
}